<div class="container">
<h1 class="text-center mb-3"><%=@inventory.name%></h1>
<div class="d-flex flex-row justify-content-end p-2 border-bottom border-2 mb-3">
<%= link_to "Add food", new_inventory_food_path(@inventory), class:"btn btn-primary" %>
</div>
<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
   <tbody >
   <% @inventory_food.each  do |data| %>
    <tr>
      <td><%= data.food.name%></td>
      <td><%= "#{data.quantity} #{data.food.measurement_unit}" %></td>
      <td>
      <% if user_signed_in? %>
        <%= link_to "Remove", inventory_food_path(data.inventory_id,data.food_id), class:"btn btn-danger btn-sm", 'data-turbo-method': :delete %>
      <% end%>
      
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div>
<%= link_to "Back to inventories", inventories_path, class:"btn btn-primary" %>
</div>
</div>
