
<div id="<%= dom_id recipe %>">    
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </h1>
  <div class="d-flex justify-content-around">
  <div>
  <h4 class="">
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </h4>

  <h4>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </h4>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>
</div>
