<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
<% if @recipes.present? %>
  <% @recipes.each do |recipe| class:"border" %>
      <%= link_to recipe do %>
    <%= render partial: 'recipe_index', locals: { recipe: recipe } %>
     <% end %>
    <%= button_to "Destroy this recipe", recipe, method: :delete %>
  <% end %>
<% else %>
  <p>No recipes found.</p>
<% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
