<h2>Shopping List </h2>
<h3>Amount of food to buy: </h3>
<h3>Recipe: <%= @recipe.name%></h3>
<h3>Total value of food needed: </h3>
<h3>Inventory: <%= @inventory.name%></h3>

<table class="table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>      
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.includes(:food).each do |item| %>
      <% if !@inventory_foods_ids.include?(item.food_id) %>
        <tr>
          <td><%= item.food.name%></td>
          <td><%= item.quantity%> <%=item.food.measurement_unit%> </td>
          <td>$ <%= item.food.price * item.quantity %></td>      
        </tr>
      <% else %>
        <% @inventory_foods.includes(:food).each do |inventory| %>
          <% if item.food_id == inventory.food_id && item.quantity < inventory.quantity %>
            <tr>
              <td><%= item.food.name%></td>
              <td><%= inventory.quantity - item.quantity %> <%=item.food.measurement_unit%> </td>
              <td>$ <%= item.food.price * (inventory.quantity - item.quantity) %></td>      
            </tr>
          <% end %>
        <% end %>  
      <% end %>
    <% end %>
  </tbody>
</table>
