<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<%= form_tag checkbox_path, method: :put, id: 'my-form' do %>
<div class="form-check form-switch">
  <%= check_box_tag 'public', '1', @recipe.public, class: 'form-check-input', id: 'flexSwitchCheckChecked' %>
  <%= label_tag 'flexSwitchCheckChecked', 'Public', class: 'form-check-label' %>
</div>
<% end %>

<div>

  <%
=begin%>
 <%= button_to "Generate shopping list", edit_recipe_path(@recipe) %> |
  <%= button_to "Add ingredient", recipes_path %>  
<%
=end%>
  <button>Generate shopping list</button>
  <%if @current_user.id==@recipe.user_id%>
    <%= button_to 'Add ingredient', add_ingredient_path(@recipe.id), method: :get, class: 'btn btn-success m-2' %>
  <% end %>


</div>
<% if @recipe.public || @current_user.id==@recipe.user_id %>
<%= render 'ingredients' %>
<% end %>
