<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
</div>
<div>
  <%
=begin%>
 <%= button_to "Generate shopping list", edit_recipe_path(@recipe) %> |
  <%= button_to "Add ingredient", recipes_path %>  
<%
=end%>
  <button>Generate shopping list</button>
  <button>Add ingredient</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.includes(:food).each do |item|%>
    <tr>
      <td><%= item.food.name%></td>
      <td><%= item.quantity%> <%=item.food.measurement_unit%> </td>
      <td><%= item.food.price%></td>
      <td><%= button_to 'Remove', recipe_food_path(item.id), method: :destroy %></td>
    </tr>
    <% end %>
  </tbody>
</table>
