<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= button_to "Generate shopping list", edit_recipe_path(@recipe) %> |
  <%= button_to "Add ingredient", recipes_path %> 
</div>
<table class="table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each |food| do%>
    <tr>
      <td><%= food.name%></td>
      <td><%= food.measurement_unit%></td>
      <td><%= food.price%></td>
      <td><%= button_to 'Remove', recipe</td>
    </tr>
    <% end %>
  </tbody>
</table>
